.formContainer {
  background-color: #2c2c2c;
  color: #fff;
  padding: 32px;
  border: 1px solid #555;
  border-radius: 8px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  max-width: 950px;
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.input,
.textarea,
.select {
  padding: 12px 15px;
  display: block;
  margin-bottom: 1rem;
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 30px);
}

.select {
  width: 100%;
}

.input:focus,
.textarea:focus,
.select:focus {
  outline: none;
  border-color: #ff5252;
}

.textarea {
  resize: vertical;
}

.select {
  appearance: none;
  cursor: pointer;
}

.errorMessage {
  color: #ff5252;
  font-size: 0.8rem;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
}
